/*
Import style rules from NYPL React module components
*/
@import "~@nypl/dgx-header-component/dist/styles/main";
@import '~@nypl/dgx-react-footer/dist/styles/styles';

#app {
  margin: 0;
}

#mainContent {
  margin: 0 auto;
  width: 1024px;
  min-height: 400px;
}
